projects/SDJ3_Project_SlaughterHouse/TestWebServiceProject/IJSimpCalcWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://webservice" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://webservice">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice">
            <xs:element name="addition">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="additionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="additionRequest">
        <wsdl:part name="parameters" element="ns:addition"/>
    </wsdl:message>
    <wsdl:message name="additionResponse">
        <wsdl:part name="parameters" element="ns:additionResponse"/>
    </wsdl:message>
    <wsdl:portType name="IJSimpCalcWebServicePortType">
        <wsdl:operation name="addition">
            <wsdl:input message="ns:additionRequest" wsaw:Action="urn:addition"/>
            <wsdl:output message="ns:additionResponse" wsaw:Action="urn:additionResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IJSimpCalcWebServiceSoap11Binding" type="ns:IJSimpCalcWebServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addition">
            <soap:operation soapAction="urn:addition" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IJSimpCalcWebServiceSoap12Binding" type="ns:IJSimpCalcWebServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addition">
            <soap12:operation soapAction="urn:addition" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IJSimpCalcWebServiceHttpBinding" type="ns:IJSimpCalcWebServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="addition">
            <http:operation location="addition"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IJSimpCalcWebService">
        <wsdl:port name="IJSimpCalcWebServiceHttpSoap11Endpoint" binding="ns:IJSimpCalcWebServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/IJSimpCalcWebService"/>
        </wsdl:port>
        <wsdl:port name="IJSimpCalcWebServiceHttpSoap12Endpoint" binding="ns:IJSimpCalcWebServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/IJSimpCalcWebService"/>
        </wsdl:port>
        <wsdl:port name="IJSimpCalcWebServiceHttpEndpoint" binding="ns:IJSimpCalcWebServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/IJSimpCalcWebService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
