WebService_codes/SlaughterHouseRmiWebServiceSystem/Tracking.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://services" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://model/xsd" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://services">
    <wsdl:types>
        <xs:schema xmlns:ax22="http://model/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services">
            <xs:import namespace="http://model/xsd"/>
            <xs:element name="trackProduct">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="args0" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="trackProductResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:Market"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="trackAnimal">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="args0" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="trackAnimalResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Product"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAnimals">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAnimalsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ax22:Animal"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://model/xsd">
            <xs:complexType name="Market">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="Product">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="Animal">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="trackProductRequest">
        <wsdl:part name="parameters" element="ns:trackProduct"/>
    </wsdl:message>
    <wsdl:message name="trackProductResponse">
        <wsdl:part name="parameters" element="ns:trackProductResponse"/>
    </wsdl:message>
    <wsdl:message name="getAnimalsRequest">
        <wsdl:part name="parameters" element="ns:getAnimals"/>
    </wsdl:message>
    <wsdl:message name="getAnimalsResponse">
        <wsdl:part name="parameters" element="ns:getAnimalsResponse"/>
    </wsdl:message>
    <wsdl:message name="trackAnimalRequest">
        <wsdl:part name="parameters" element="ns:trackAnimal"/>
    </wsdl:message>
    <wsdl:message name="trackAnimalResponse">
        <wsdl:part name="parameters" element="ns:trackAnimalResponse"/>
    </wsdl:message>
    <wsdl:portType name="TrackingPortType">
        <wsdl:operation name="trackProduct">
            <wsdl:input message="ns:trackProductRequest" wsaw:Action="urn:trackProduct"/>
            <wsdl:output message="ns:trackProductResponse" wsaw:Action="urn:trackProductResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getAnimals">
            <wsdl:input message="ns:getAnimalsRequest" wsaw:Action="urn:getAnimals"/>
            <wsdl:output message="ns:getAnimalsResponse" wsaw:Action="urn:getAnimalsResponse"/>
        </wsdl:operation>
        <wsdl:operation name="trackAnimal">
            <wsdl:input message="ns:trackAnimalRequest" wsaw:Action="urn:trackAnimal"/>
            <wsdl:output message="ns:trackAnimalResponse" wsaw:Action="urn:trackAnimalResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TrackingSoap11Binding" type="ns:TrackingPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="trackProduct">
            <soap:operation soapAction="urn:trackProduct" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAnimals">
            <soap:operation soapAction="urn:getAnimals" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="trackAnimal">
            <soap:operation soapAction="urn:trackAnimal" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TrackingSoap12Binding" type="ns:TrackingPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="trackProduct">
            <soap12:operation soapAction="urn:trackProduct" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAnimals">
            <soap12:operation soapAction="urn:getAnimals" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="trackAnimal">
            <soap12:operation soapAction="urn:trackAnimal" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TrackingHttpBinding" type="ns:TrackingPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="trackProduct">
            <http:operation location="trackProduct"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAnimals">
            <http:operation location="getAnimals"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="trackAnimal">
            <http:operation location="trackAnimal"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Tracking">
        <wsdl:port name="TrackingHttpSoap11Endpoint" binding="ns:TrackingSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/Tracking"/>
        </wsdl:port>
        <wsdl:port name="TrackingHttpSoap12Endpoint" binding="ns:TrackingSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/Tracking"/>
        </wsdl:port>
        <wsdl:port name="TrackingHttpEndpoint" binding="ns:TrackingHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/Tracking"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
