projects/SDJ3_Project_SlaughterHouse/Slaughter_houseFinal/ISlaughterHouse.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://service.java_t2" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="http://service.java_t2">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://service.java_t2">
            <xs:element name="newTray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
                        <xs:element name="args2" type="xs:float"/>
                        <xs:element minOccurs="0" name="args3" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="newTrayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="newPart">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="args2" nillable="true" type="xs:string"/>
                        <xs:element name="args3" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="newPartResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="newOrder">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
                        <xs:element name="args2" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="newOrderResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTray">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getTrayResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentWeight">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCurrentWeightResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addAnimal">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="args1" nillable="true" type="xs:string"/>
                        <xs:element name="args2" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addAnimalResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="addAnimalRequest">
        <wsdl:part name="parameters" element="ns:addAnimal"/>
    </wsdl:message>
    <wsdl:message name="addAnimalResponse">
        <wsdl:part name="parameters" element="ns:addAnimalResponse"/>
    </wsdl:message>
    <wsdl:message name="getTrayRequest">
        <wsdl:part name="parameters" element="ns:getTray"/>
    </wsdl:message>
    <wsdl:message name="getTrayResponse">
        <wsdl:part name="parameters" element="ns:getTrayResponse"/>
    </wsdl:message>
    <wsdl:message name="newPartRequest">
        <wsdl:part name="parameters" element="ns:newPart"/>
    </wsdl:message>
    <wsdl:message name="newPartResponse">
        <wsdl:part name="parameters" element="ns:newPartResponse"/>
    </wsdl:message>
    <wsdl:message name="getCurrentWeightRequest">
        <wsdl:part name="parameters" element="ns:getCurrentWeight"/>
    </wsdl:message>
    <wsdl:message name="getCurrentWeightResponse">
        <wsdl:part name="parameters" element="ns:getCurrentWeightResponse"/>
    </wsdl:message>
    <wsdl:message name="newOrderRequest">
        <wsdl:part name="parameters" element="ns:newOrder"/>
    </wsdl:message>
    <wsdl:message name="newOrderResponse">
        <wsdl:part name="parameters" element="ns:newOrderResponse"/>
    </wsdl:message>
    <wsdl:message name="newTrayRequest">
        <wsdl:part name="parameters" element="ns:newTray"/>
    </wsdl:message>
    <wsdl:message name="newTrayResponse">
        <wsdl:part name="parameters" element="ns:newTrayResponse"/>
    </wsdl:message>
    <wsdl:portType name="ISlaughterHousePortType">
        <wsdl:operation name="addAnimal">
            <wsdl:input message="ns:addAnimalRequest" wsaw:Action="urn:addAnimal"/>
            <wsdl:output message="ns:addAnimalResponse" wsaw:Action="urn:addAnimalResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getTray">
            <wsdl:input message="ns:getTrayRequest" wsaw:Action="urn:getTray"/>
            <wsdl:output message="ns:getTrayResponse" wsaw:Action="urn:getTrayResponse"/>
        </wsdl:operation>
        <wsdl:operation name="newPart">
            <wsdl:input message="ns:newPartRequest" wsaw:Action="urn:newPart"/>
            <wsdl:output message="ns:newPartResponse" wsaw:Action="urn:newPartResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCurrentWeight">
            <wsdl:input message="ns:getCurrentWeightRequest" wsaw:Action="urn:getCurrentWeight"/>
            <wsdl:output message="ns:getCurrentWeightResponse" wsaw:Action="urn:getCurrentWeightResponse"/>
        </wsdl:operation>
        <wsdl:operation name="newOrder">
            <wsdl:input message="ns:newOrderRequest" wsaw:Action="urn:newOrder"/>
            <wsdl:output message="ns:newOrderResponse" wsaw:Action="urn:newOrderResponse"/>
        </wsdl:operation>
        <wsdl:operation name="newTray">
            <wsdl:input message="ns:newTrayRequest" wsaw:Action="urn:newTray"/>
            <wsdl:output message="ns:newTrayResponse" wsaw:Action="urn:newTrayResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ISlaughterHouseSoap11Binding" type="ns:ISlaughterHousePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addAnimal">
            <soap:operation soapAction="urn:addAnimal" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTray">
            <soap:operation soapAction="urn:getTray" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="newPart">
            <soap:operation soapAction="urn:newPart" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCurrentWeight">
            <soap:operation soapAction="urn:getCurrentWeight" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="newOrder">
            <soap:operation soapAction="urn:newOrder" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="newTray">
            <soap:operation soapAction="urn:newTray" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ISlaughterHouseSoap12Binding" type="ns:ISlaughterHousePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="addAnimal">
            <soap12:operation soapAction="urn:addAnimal" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTray">
            <soap12:operation soapAction="urn:getTray" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="newPart">
            <soap12:operation soapAction="urn:newPart" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCurrentWeight">
            <soap12:operation soapAction="urn:getCurrentWeight" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="newOrder">
            <soap12:operation soapAction="urn:newOrder" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="newTray">
            <soap12:operation soapAction="urn:newTray" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ISlaughterHouseHttpBinding" type="ns:ISlaughterHousePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="addAnimal">
            <http:operation location="addAnimal"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getTray">
            <http:operation location="getTray"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="newPart">
            <http:operation location="newPart"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCurrentWeight">
            <http:operation location="getCurrentWeight"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="newOrder">
            <http:operation location="newOrder"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="newTray">
            <http:operation location="newTray"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ISlaughterHouse">
        <wsdl:port name="ISlaughterHouseHttpSoap11Endpoint" binding="ns:ISlaughterHouseSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/ISlaughterHouse"/>
        </wsdl:port>
        <wsdl:port name="ISlaughterHouseHttpSoap12Endpoint" binding="ns:ISlaughterHouseSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/ISlaughterHouse"/>
        </wsdl:port>
        <wsdl:port name="ISlaughterHouseHttpEndpoint" binding="ns:ISlaughterHouseHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/ISlaughterHouse"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
